@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,700);
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.0.3');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal
}
*, *:after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    font-size: 100%;
    height: 100%;
    min-height: 100%;
}
body {
    font-size: 62.5%;
    font-family: 'Open Sans', 'sans-serif';
    overflow-x: hidden;
    background-color: #fff;
    height: 100%;
    min-height: 100%;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
}
h1 {
    font-size: 54px;
    font: normal 700 5.4rem/1'Open Sans', Arial, sans-serif;
}
h2 {
    font-size: 36px;
    font: normal 700 3.6rem/1.444444'Open Sans', Arial, sans-serif;
}
h3 {
    font-size: 27px;
    font: normal 300 2.7rem/1.444444'Open Sans', Arial, sans-serif;
}
p {
    font-size: 18px;
    font: normal 300 1.8rem/1.444444'Open Sans', Arial, sans-serif;
    margin-top:20px;
}
b, strong {
    font-weight: 700;
}
.small {
    font-size:14px;
}
.main {
    height: 100%;
    min-height: 100%;
}
.splash-section {
    display: block;
    height: 100%;
    min-height: 100%;
    padding: 20px;
    width: 100%;
    color: #f1f1f1;
    text-align: center;
}
.splash-content {
    width: 85%;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    color: #222;
}
img {
    margin:0 auto;
    width:auto;
}
.image-wrapper {
    height:80%;
    width:80%;
}
.half {
    height:auto;
    max-width: 40%;
}
.full {
    max-width: 80%;
    height: auto;
}
.half-portrait {
    max-height:40%;
    width: auto;
}
.full-portrait {
    width: auto;
    max-height: 600px;
}
.clear {
    clear: both;
}
.navigation {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, .20);
    height: 65px;
    z-index: 1;
    text-align: right;
    padding: 10px 20px;
}
.buttons {
    width: 580px;
    float: right;
}
.button {
    display: inline-block;
    color: #f1f1f1;
    width: 180px;
    text-decoration: none;
    background: #A0A4A5;
    text-align: center;
    font-size: 27px;
    box-shadow: 3px 3px 3px #6D7172;
    transition: all 0.2s ease;
    padding: 4px;
}
.button:hover {
    background: #868A8B;
    color: #D8D8D8;
    box-shadow: 3px 3px 6px #6D7172;
}
.button.next {
    margin-left: 20px;
    background: #3CA188;
    float: right;
    transition: all 0.2s ease;
}
.button.next:hover {
    background: #3CA188;
    color: #D8D8D8;
    box-shadow: 3px 3px 6px #6D7172;
}
.button#submit {
    outline: none;
    border: none;
    border-radius: 0px;
    background: #3CA188;
}
.button#submit:hover {
    background: #23886F;
}
input {
    outline: none;
    border: none;
    border-bottom: 1px solid #222;
    font-size: 27px;
}
label {
    font-size: 27px;
}
#one {
    background: #ecf0f1;
}
#two {
    background: #3CA188;
}
#three {
    background: #466EA2;
}
#four {
    background: #594EAC;
}
#five {
    background: #F8BD5D;
}
#six {
    background: #F8965D;
}
#seven {
    background: #DE5353;
}
#eight {
    background: #3CA188;
}
#nine {
    background: #466EA2;
}
#ten {
    background: #594EAC;
}
#eleven {
    background: #3CA188;
}
.splash-content#last {
    padding-bottom: 100px;
}
@media screen and (max-width:950px) {
    h1, h2, h3, h4, p {
        font-size: 300%;
    }
}
@media screen and (max-width:550px) {
    h1, h2, h3, h4, p, input {
        font-size: 250%;
    }
    #last h2 {
        display:none;
    }
}
@media screen and (max-width:400px) {
    h1, h2, h3, h4, p, input {
        font-size: 200%;
    }
}
@media screen and (max-width:350px) {
    #last h1, #last h2, #last h3, #last h4, #last p, #last input {
        font-size: 180%;
    }
}
@media screen and (max-width: 480px) {
    .buttons {
        width: 100%;
    }
    .button {
        width: 45%;
        font-size: 24px;
    }
    input {
        width:75%;
        margin:0 auto;
    }
}